<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Area Utente</title>
    <link rel="stylesheet" type="text/css" href="style.css">
	

</head>
<body>

    <!-- Header con il logo della palestra e il menu di navigazione -->
    <header>
        <img src="download.jpg" alt="Logo della palestra" id="logo">
        <nav>
            <ul>
                <li><a th:href="@{/logged}">Home</a></li>
                <li><a href="#">Attività</a></li>
                <li><a href="#">Calendario</a></li>
                <li><a href="#">Contatti</a></li>
				<li><a href="#">Area Riservata</a></li>
            </ul>
        </nav>
    </header>
   
    <h1 class="benvenuto" th:text="'benvenuto nella tua area riservata ' + ${utente.nome_utente}"></h1> 
    <h2 >Abbonamenti Attivi</h2>
    <section class="abbonamenti-attivi" th:each="a : ${abbonamentiattivi}">
     <!-- DA FORMATTARE E AGGIUSTARE --><div><p th:text="'prezzo totale : '+${prezzototale}"><p></div>
        
        <div class="card-container-utente" >
          <div class="card-utente" >
            <h3>Abbonamento</h3>
            <p th:text="'attività in abbonamento : ' + ${a.attivita.titolo}"></p>
            <p th:text="'valido fino al : ' +  ${#temporals.format(a.data_fine, 'dd/MM/yyyy')}">Valido fino al 30/06/2023</p>
           
            <button>c'è da metterci dentro l'href alla riga sopra in html</button>
          </div>
        
          <!-- Altre card abbonamenti attivi -->
        </div>
      </section>
      
      <section      class="abbonamenti-disponibili"   th:each="t : ${abbonamentiscaduti}">
        <h2>Abbonamenti Scaduti</h2>
        <div class="card-container-utente">
          <div class="card-utente">
            <h3>Abbonamento</h3>
            <p th:text="'attività in abbonamento : ' + ${t.attivita.titolo}"></p>
            <p th:text="'SCADUTO ' "></p>
             <p><a th:href="@{areautente/rinnova(id=${t.id})}">clicca qui per rinnovare</a></p>
              
          </div>
         
          <!-- Altre card abbonamenti disponibili -->
        </div>
      </section>
    
    
    
    <footer>
        <div class="footer-info">
            <h4 id="gym">Space Gym</h4>
            <p id="indirizzi">Via della Palestra, 1 - 00100 Roma</p>
            <p id="contatti">Tel: +39 06 1234567 - Email: info@spacegym.it</p>
            <p></p>
        </div>
        <div class="footer-social">
            <h4>Seguici su</h4>
            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="twitter.png" alt="Twitter"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
        </div>
        <div class="footer-credits">
            <p>© 2023 Space Gym. Tutti i diritti riservati.</p>
        </div>
    </footer>
	

</body>
</html>