<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Area Utente</title>
    <link rel="stylesheet" type="text/css" href="style4.css">
	<style>
		section{
		
			margin: 0px;	
			
		}
		
		
	</style>

</head>
<body>

    <!-- Header con il logo della palestra e il menu di navigazione -->
    <header>
        <img src="download.jpg" alt="Logo della palestra" id="logo">
        <nav>
            <ul>
                <li><a th:href="@{/logged}">Home</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </header>
   
    <h1 class="benvenuto" th:text="'Benvenuto nella tua area riservata ' + ${utente.nome_utente}"></h1> 
    <h2 >Abbonamenti Attivi</h2>
    <section class="abbonamenti-attivi" th:each="a : ${abbonamentiattivi}">

        
        <div class="card-container-utente" >
          <div class="card-utente" >
            <h3 th:text="'Abbonamento ' + ${a.attivita.titolo}"></h3>
            <p th:text="'valido fino al : ' +  ${#temporals.format(a.data_fine, 'dd/MM/yyyy')}"></p>
           	<p th:text="'Costo abbonamento: '+ ${#numbers.formatDecimal(a.importo_totale, 0, 'POINT', 2, 'COMMA')} + '€'"></p>
          </div>
        
          <!-- Altre card abbonamenti attivi -->
        </div>
      </section>
      
      <section class="abbonamenti-disponibili"   th:each="t : ${abbonamentiscaduti}">
        <h2 class="scaduti">Abbonamenti Scaduti</h2>
        <div class="card-container-utente">
          <div class="card-utente">
            <h3 th:text="'Abbonamento ' + ${t.attivita.titolo}"></h3>
            <p th:text="'SCADUTO ' "></p>
             <p class="rinnova2"><a class="rinnova" th:href="@{areautente/rinnova(id=${t.id})}">clicca qui per rinnovare</a></p>
              
          </div>
         
          <!-- Altre card abbonamenti disponibili -->
        </div>
      </section>
    
    <div class=prezzototale><p th:text="'Costo totale dei tuoi abbonamenti: '+${#numbers.formatDecimal(prezzototale, 0, 'POINT', 2, 'COMMA')} + '€'"><p></div>
    
    <footer>
        <div class="footer-info">
            <h4 id="gym">Space Gym</h4>
            <p id="indirizzi">Via della Palestra, 1 - 00100 Roma</p>
            <p id="contatti">Tel: +39 06 1234567 - Email: info@spacegym.it</p>
            <p></p>
        </div>
        <div class="footer-social">
            <h4>Seguici su</h4>
            <a href="#"><img class="logo-social" src="logoface.png" alt="Facebook"></a>
            <a href="#"><img class="logo-social" src="logotwitter.png" alt="Twitter"></a>
            <a href="#"><img class="logo-social" src="logoinsta.jpeg" alt="Instagram"></a>
        </div>
        <div class="footer-credits">
            <p>© 2023 Space Gym. Tutti i diritti riservati.</p>
        </div>
    </footer>
	

</body>
</html>