<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio</title>
    <link rel="stylesheet" type="text/css" href="style2.css">
</head>

<body>
    <!-- Header -->
    <header>
        <img src="download.jpg" alt="Logo della palestra" id="logo">
        <nav>
            <ul>
                 <li><a th:href="@{/logged}">Home</a></li> 
                <li><a href="#">Attività</a></li>
                <li><a href="#">Calendario</a></li>
                <li><a href="#">Contatti</a></li>
				<li><a href="#">Area Riservata</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        <div class="content-container">
            <div class="image-container">
                <img src="image.jpg" alt="immagine">
            </div>
            <div class="info-container" th:object="${attivita}" >
            <h2 th:text="${attivita.titolo}">Titolo personalizzato</h2>
            <p th:text=${attivita.descrizione}>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. A
            liquam ac congue ex. Maecenas aliquam, est ac eleifend elementum, 
            nulla nisl facilisis augue, vitae lacinia enim elit sit amet ante.   </p>
         <a th:href="@{logged/registraabbonamento(id=${attivita.id})}">clicca</a>
                <button class="buy-btn" >Acquista abbonamento</button>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-info">
            <h4 id="gym">Space Gym</h4>
            <p id="indirizzi">Via della Palestra, 1 - 00100 Roma</p>
            <p id="contatti">Tel: +39 06 1234567 - Email: info@spacegym.it</p>
            <p></p>
        </div>
        <div class="footer-social">
            <h4>Seguici su</h4>
            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="twitter.png" alt="Twitter"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
        </div>
        <div class="footer-credits">
            <p>© 2023 Space Gym. Tutti i diritti riservati.</p>
        </div>
    </footer>

</body>
</html>