<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Palestra Fitness</title>
    <link rel="stylesheet" type="text/css" href="style.css">
	

</head>
<body>

    <!-- Header con il logo della palestra e il menu di navigazione -->
    <header>
        <img src="download.jpg" alt="Logo della palestra" id="logo">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#attiv">Attività</a></li>
            <li><a id="apri-admin">Area Staff</a></li>
            <li><a href="#gym">Contatti</a></li>
            <li><a href="#calendario">Calendario</a></li>
            <li><a href="#">Area Utente</a></li>

          </ul>
        </nav>
      </header>
      <div id="accesso-form">
        <form id="form-admin" method="post" action="loginAdmin">
        <h2 class="dai">Area Staff</h2>
              <label class="dai" for="username">Username:</label>
              <input type="text" id="username" name="username"><br>
  
              <label class="dai" for="password">Password:</label>
              <input type="password" id="password" name="password"><br>
  
              <input type="submit" value="Accedi">
          </form>
          <div    th:if="${errore3}"   th:text="'! Verifica che il tuo nome utente e password siano corretti! '" style="color:red"></div>
        </div>
		
		
		<div class="grid-container">
    
        <div class="grid-item2">
          <div class="text5" id="1">S</div>
        </div>
        <div class="grid-item2">
          <div class="text5" id="2">P</div>
        </div>
        <div class="grid-item2">
          <div class="text5" id="3">A</div>
        </div>
        <div class="grid-item2">
          
          <div class="text5" id="4">C</div>
        </div>
        <div class="grid-item2">
          <div class="text5" id="5">E</div>
        </div>  
        
        <div class="grid-item">
            <img src="palestra6.jpg" alt="Immagine 6">
          </div>
          <div class="grid-item2">
            <div class="text5" id="6">G</div>
          </div>
          <div class="grid-item2">
            <div class="text5" id="7">Y</div>
          </div>
          <div class="grid-item2">
            <div class="text5" id="8">M</div>
          </div>
          <div class="grid-item">
            <img src="palestra5.jpg" alt="Immagine 3">
          </div>
          <div class="grid-item">
            <div class="text8">BUILD YOUR BODY</div>
          </div>
          <div class="grid-item">
            
            <img src="palestra2.jpg" alt="Immagine 2">
          </div>
          <div class="grid-item">
            
            <div class="text8">FOCUS ON YOURSELF</div>
          </div>
          <div class="grid-item">
            
            <img src="palestra4.jpg" alt="Immagine 4">
          </div>
          <div class="grid-item">
            
            <div class="text8">BREAK YOUR LIMITS</div>
          </div>
      </div>

    <!-- Form per la registrazione e l'accesso -->
    <section class="sezione">
        <h2 id="testo">Registrazione</h2>
		
		<img id="manubrio" src="images.jpg" alt="Manubrio">
        <form id="mio-form"  method="post" th:object="${utente}" onsubmit="return validateForm()">
			<h2>Registrazione</h2>
            <label for="nome">Nome:</label>
		    <input type="text" id="nome" name="nome" th:field="*{nome_utente}" required><br>
		    <p th:if="${#fields.hasErrors('nome_utente')}" th:errors="*{nome_utente}" style="color:red"></p>
		
		    <label for="cognome">Cognome:</label>
		    <input type="text" id="cognome" name="cognome" th:field="*{cognome_utente}" required><br>
		    <p th:if="${#fields.hasErrors('cognome_utente')}" th:errors="*{cognome_utente}" style="color:red"></p>
		    <label for="codice fiscale">Codice fiscale:</label>
		    <input type="text" id="codice fiscale" name="codice fiscale" th:field="*{codice_fiscale}" required><br>
		    <p th:if="${#fields.hasErrors('codice_fiscale')}" th:errors="*{codice_fiscale}" style="color:red"></p>
		    <label for="email">Email:</label>
		    <input type="email" id="email" name="email" th:field="*{email}" required><br>
		    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></p>
		    <label for="password">Password:</label>
		    <input type="password" id="password" name="password" th:field="*{password}" required><br>
		    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></p>
		    <label for="username">Username:</label>
		    <input type="text" id="username" name="username" th:field="*{username}" required><br>
		    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red"></p>
		
		    <div class="form-group">
		        <label for="consenso" class="consenso-label"  style="margin-bottom: 10px;">
		            Acconsento al trattamento dei dati personali
		        </label>
		        <input type="checkbox" id="consenso" name="consenso" required checked>
		    </div>

    <input type="submit" value="Registrati">
			
        </form>
        <div    th:if="${errore}"   th:text="'Utente già esistente'" style="color:red"></div>
        <div    th:if="${ceck}"   th:text="'Utente registrato! Effettua il login'" style="color:green"></div>
        <div    th:if="${errore2}"   th:text="'! Verifica che il tuo nome utente e password siano corretti! '" style="color:#333;"></div>
		<h2 id="testo2">Clicca i Manubri per registrarti</h2>
	</section>

	<section class="sezione">
		<h2 id="testo3">Login</h2>
		<img id="logo2" src="download.jpg" alt="Logo">
        <form id="accesso" method="post" action="loginUtente" >
			<h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"   required><br>

            <label for="password2">Password:</label>
            <input type="password" id="password2" name="password"   required ><br>

            <input type="submit" value="Accedi">
        </form>
        <div    th:if="${ceck}"   th:text="'Utente registrato! Effettua il login'" style="color:#333;"></div>
        <div    th:if="${errore2}"   th:text="'! Verifica che il tuo nome utente e password siano corretti! '" style="color:red"></div>
        <!-- vedi login.htm  esercizio6 -->
		<h2 id="testo5">Clicca il logo per il login</h2>
    </section>

    

	<div id="attiv" class="tit"><h2 id="testo4">ELENCO ATTIVITA</h2></div>

	<div class="card" th:each="a : ${attivita}">
		<div class="card-img"   >
			<img th:src="@{${a.immagine}}" alt="Immagine 1">
			
		</div>
		<div class="card-body" >

			<h5 class="card-title" th:text="${a.titolo}"> </h5>
			<p class="card-text" th:text="${a.descrizione}" style="overflow: hidden; text-overflow: ellipsis; display: block;  max-height: 1000px; max-width: 700px;"></p>
			<button class="info-btn"><a th:href="@{/dettaglioS(id=${a.id})}">Più info</a></button>

		</div>
	</div>

    <div class="calendario" id="calendario">
        <h2 id="testo4">Calendario Attività</h2>
        <table class="tab-calendario">
            <thead>
                <tr>
                    <th>Giorno</th>
                    <th>Attività</th>
                    <th>Orario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t : ${turni}">
                    <td th:text="${t.giorno_settimana}">Lunedi</td>
                    <td th:text="${t.attivita.titolo}">Crossfit</td>
                    <td th:text=${t.fascia_oraria}>10:00 - 11:00</td>
                </tr>
              
                <!-- aggiungi qui altre righe con le attività -->
            </tbody>
        </table>
    </div>
    <footer>
            <div class="footer-info">
                <h4 id="gym">Space Gym</h4>
                <p id="indirizzi">Via della Palestra, 1 - 00100 Roma</p>
                <p id="contatti">Tel: +39 06 1234567 - Email: info@spacegym.it</p>
                <p></p>
            </div>
            <div class="footer-social">
                <h4>Seguici su</h4>
                <a href="#"><img class="logo-social" src="logoface.png" alt="Facebook"></a>
                <a href="#"><img class="logo-social" src="logotwitter.png" alt="Twitter"></a>
                <a href="#"><img class="logo-social" src="logoinsta.jpeg" alt="Instagram"></a>
            </div>
            <div class="footer-credits">
                <p>© 2023 Space Gym. Tutti i diritti riservati.</p>
            </div>
        </footer>
        
        
        <script type="text/javascript">
          const areaStaff = document.querySelector('#apri-admin');
          const accessoForm = document.querySelector('#accesso-form');
          
      
      
          areaStaff.addEventListener('dblclick', function() {
            accessoForm.style.display = 'block';  // mostra il form display:
            accessoForm.style.position = 'fixed';  // mostra il form display:
            accessoForm.style.left = '500px';  // mostra il form display:
            accessoForm.style.top = '-20px';
          
          });

          areaStaff.addEventListener('click', function() {
            accessoForm.style.display = 'none';  // mostra il form display:
          
          });
    


	
	
       	const manubrio = document.querySelector('#manubrio');
		const mioForm = document.querySelector('#mio-form');
		const testo = document.getElementById("testo")
		const testo2 = document.getElementById("testo2")


		manubrio.addEventListener('click', function() {
		manubrio.style.display = 'none';  // nasconde l'immagine del manubrio
		mioForm.style.display = 'flex';  // mostra il form display:
		testo.style.display = 'none';
		testo2.style.display = 'none';
		});

		
        const logo2 = document.querySelector('#logo2');
        const accesso = document.querySelector('#accesso');
        const testo3 = document.getElementById("testo3")
        const testo5 = document.getElementById("testo5")


        logo2.addEventListener('click', function() {
        logo2.style.display = 'none';  // nasconde l'immagine del manubrio
        accesso.style.display = 'flex';  // mostra il form display:
        testo3.style.display = 'none';
        testo5.style.display = 'none';
        });

     
        
        

        
        function validateForm() {
            var nome = document.forms["mio-form"]["nome"].value;
            var cognome = document.forms["mio-form"]["cognome"].value;
            var codiceFiscale = document.forms["mio-form"]["codice fiscale"].value;
            var email = document.forms["mio-form"]["email"].value;
            var password = document.forms["mio-form"]["password"].value;
            var username = document.forms["mio-form"]["username"].value;
            var containsUpperCase = /[A-Z]/.test(password);
            var containsNumber = /\d/.test(password);

            if (nome == "") {
              alert("Il campo nome è obbligatorio");
              return false;
            }

            if (cognome == "") {
              alert("Il campo cognome è obbligatorio");
              return false;
            }

            if (codiceFiscale == "") {
              alert("Il campo codice fiscale è obbligatorio");
              return false;
            }else if (codiceFiscale.length < 16) {
                alert("Il codice fiscale e' composto da 16 caratteri");
                return false;
            }

            if (email == "") {
              alert("Il campo email è obbligatorio");
              return false;
            }

            if (password == "") {
              alert("Il campo password è obbligatorio");
              return false;
            } else if (password.length < 8) {
              alert("La password deve contenere almeno 8 caratteri");
              return false;
            } else if (!containsUpperCase || !containsNumber) {
              alert("La password deve contenere almeno una maiuscola e un numero");
              return false;
            }

            if (username == "") {
              alert("Il campo username è obbligatorio");
              return false;
            }

            return true;
          }
              
			
       
 
    </script> 
	

</body>
</html>





