<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Liste</title>
		<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}
		
		
		th {
			background-color: gold;
			color:  #333;
		}
		
		button {
            background-color: red; 
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 4px 2px;
            cursor: pointer;
        }
        
        .modifica {
            background-color: gold; 
        }
        
        .elimina {
            background-color: gold; 
        }
        
        
        
	</style>
	</head>
	<body>
		<div th:if="${mostraDiv}">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>Codice fiscale</th>
						<th>Username</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="utente : ${listaUtente}">
						<td th:text="${utente.nome_utente}"></td>
						<td th:text="${utente.cognome_utente}"></td>
						<td th:text="${utente.codice_fiscale}"></td>
						<td th:text="${utente.username}"></td>
						<td th:text="${utente.email}"></td>
						<td>
                        	<button class="modifica">Modifica</a></button>
                        	<button class="elimina"><a th:href="@{cancella(id=${utente.id})}">Elimina</a></button>
                    	</td>
					</tr>
				</tbody>
			</table>
			<form method="POST" action="aggiungi"  th:object="${utente}">
    			<label for="nome" th:text="'Nome:'"></label>
    			<input type="text" id="nome" name="nome" class="form-control" required="required" th:field="*{nome_utente}">
    			<div class="row mt-4">
        			<div class="col-12 text-center">
            			<input type="submit" th:value="'Aggiungi Utente'" class="btn btn-primary">
        			</div>
    			</div>
			</form>
		</div>
		<div th:if="${mostraDiv2}">
			<table>
				<thead>
					<tr>
						<th>Nome utente</th>
						<th>Importo totale</th>
						<th>Data inizio</th>
						<th>Data fine</th>
					</tr>
				</thead>
					<tbody>
						<tr th:each="o : ${listaAbbonamento}">
							<td th:text="${o.utente.nome_utente}"></td>
							<td th:text="${o.importo_totale}"></td>
							<td th:text="${o.data_inizio}"></td>
							<td th:text="${o.data_fine}"></td>
							<td>
	                        	<button class="modifica">Modifica</a></button>
                        		<button class="elimina"><a th:href="@{cancella2(id=${o.id})}">Elimina</a></button>
                    		</td>
						</tr>
					</tbody>
				</table>
				<form method="POST" action="aggiungi2"  th:object="${abbonamento}">
	    			<label for="nome" th:text="'Prezzo:'"></label>
	    			<input type="number" id="importo" name="importo_totale" class="form-control" required="required" th:field="*{importo_totale}">
	    			<div class="row mt-4">
	        			<div class="col-12 text-center">
	            			<input type="submit" th:value="'Aggiungi Abbonamento'" class="btn btn-primary">
	        			</div>
	    			</div>
				</form>
		</div>
		<div th:if="${mostraDiv3}">
			<table>
				<thead>
					<tr>
						<th>Titolo</th>
						<th>Descrizione</th>
						<th>Prezzo totale</th>
						<th>Istruttore</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o : ${listaAttivita}">
						<td th:text="${o.titolo}"></td>
						<td th:text="${o.descrizione}"></td>
						<td th:text="${o.prezzo_totale}"></td>
						<td th:text="${o.istruttore}"></td>
						<td>
                        	<button class="modifica">Modifica</a></button>
                        	<button class="elimina"><a th:href="@{cancella3(id=${o.id})}">Elimina</a></button>
                    	</td>
					</tr>
				</tbody>
			</table>
			<form method="POST" action="aggiungi3"  th:object="${attivita}">
    			<label for="nome" th:text="'Nome:'"></label>
    			<input type="text" id="nome" name="nome" class="form-control" required="required" th:field="*{titolo}">
    			<div class="row mt-4">
        			<div class="col-12 text-center">
            			<input type="submit" th:value="'Aggiungi Attivita'" class="btn btn-primary">
        			</div>
    			</div>
			</form>
			<table>
				<thead>
					<tr>
						<th>Giorno</th>
						<th>Fascia Oraria</th>
						<th>Nome Attivita</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o : ${listaTurni}">
						<td th:text="${o.giorno_settimana}"></td>
						<td th:text="${o.fascia_oraria}"></td>
						<td th:text="${o.attivita.titolo}"></td>
						<td>
                        	<button class="modifica">Modifica</a></button>
                        	<button class="elimina"><a th:href="@{cancella3(id=${o.id})}">Elimina</a></button>
                    	</td>
					</tr>
				</tbody>
			</table>
			<form method="POST" action="aggiungi6"  th:object="${turno}">
    			<label for="nome" th:text="'Nome:'"></label>
    			<input type="text" id="nome" name="nome" class="form-control" required="required" th:field="*{giorno_settimana}">
    			<label for="nome" th:text="'Nome:'"></label>
    			<input type="text" id="nome" name="nome" class="form-control" required="required" th:field="*{fascia_oraria}">
    			<label for="cliente" th:text="'Seleziona Attivita:'"></label>
								<select id="attivita" name="attivita" class="form-select">
        							<option th:each="attivita : ${listaAttivita}" th:value="${attivita.id}" th:text="${attivita.titolo}" th:selected="${turno.attivita != null AND attivita.id == turno.attivita.id}">
        							</option>
    							</select>
    			<div class="row mt-4">
        			<div class="col-12 text-center">
            			<input type="submit" th:value="'Aggiungi Attivita'" class="btn btn-primary">
        			</div>
    			</div>
			</form>
			
			
		</div>

        
	</body>
</html>