<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferma Acquisto</title>
    <link rel="stylesheet" type="text/css" href="style5.css">
</head>

<body>
    <!-- Header -->
    <header>
    	
        <img src="download.jpg" alt="Logo della palestra" id="logo">
        <nav>
            <ul>
                 <li><a th:href="@{/logged}">Home</a></li> 
				<li><a th:href="@{/areautente}">Area Utente</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content --><p>Stai per acquistare questo abbonamento:</p>
    <main>
        <div class="content-container">
            <div class="info-container" th:object="${attivita}" >
            <h2 th:text="'Abbonamento ' + ${attivita.titolo}"></h2>
<div th:text="'Descrizione: '+ ${attivita.informazioni}" style="word-wrap: break-word; margin-bottom: 14px;"></div>
            <!--<div th:text="'Descrizione: '+ ${attivita.descrizione}" style="word-wrap: break-word; margin-bottom: 14px;"></div>-->
            <div th:text="'Costo singola lezione: ' + ${attivita.prezzo_totale} + ' €  offerta promo per 8 lezioni : ' + ${#numbers.formatDecimal((attivita.prezzo_totale * 8 * 0.85), 0, 'POINT', 2, 'COMMA')} +' € '" style="word-wrap: break-word; margin-bottom: 14px;"></div>
            <div th:text="'Istruttore: ' + ${attivita.istruttore}" style="word-wrap: break-word; margin-bottom: 14px;"></div>
                <div><button class="buy-btn" ><a th:href="@{/dettaglio/registraabbonamento(id=${attivita.id})}">Acquista Abbonamento</a></button></div>
            </div>
        </div>
    </main>
    
<h1>Inserisci il tuo metodo di pagamento</h1>

	<form name="formPagamento">
		<label for="nome">Nome sulla carta:</label>
		<input type="text" id="nome" name="nome" required><br>

		<label for="numeroCarta">Numero di carta di credito:</label>
		<input type="text" id="numeroCarta" name="numeroCarta" required><br>

		<label for="scadenza">Data di scadenza (MM/YY):</label>
		<input type="text" id="scadenza" name="scadenza" required><br>

		<label for="cvv">CVV:</label>
		<input type="text" id="cvv" name="cvv" required><br>

		
		<div><button class="buy-btn" ><a th:href="@{/dettaglio/registraabbonamento(id=${attivita.id})}">Acquista Abbonamento</a></button></div>
	</form>
	
    <!-- Footer -->
    <footer>
        <div class="footer-info">
            <h4 id="gym">Space Gym</h4>
            <p id="indirizzi">Via della Palestra, 1 - 00100 Roma</p>
            <p id="contatti">Tel: +39 06 1234567 - Email: info@spacegym.it</p>
            <p></p>
        </div>
        <div class="footer-social">
            <h4>Seguici su</h4>
            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="twitter.png" alt="Twitter"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
        </div>
        <div class="footer-credits">
            <p>© 2023 Space Gym. Tutti i diritti riservati.</p>
        </div>
       
    </footer>

</body>
</html>